html {
  scrollbar-width: auto;
  scrollbar-color: #e8dec2 #144d5100;
}

body::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track {
  background: #144d51;
  width: 2px;
  border: #f9837d 8px solid;
}

body::-webkit-scrollbar-thumb {
  background-color: #e8dec2;
  border-radius: 8px;
  border: 2px solid #144d51;
}

body {
  margin: 0;
  background-color: #f9837d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 95vh;
  padding: 0 10%;
  background-color: #f9837d;
  font-family: "Young Serif", serif;
  color: #144d51;
}

.my_name {
  font-size: 4em;
}

.work {
  font-size: 2.7em;
}

summary::marker {
  content: "";
}

.activity {
  color: #e8dec2;
  -webkit-text-fill-color: #e8dec2;
  -webkit-text-stroke: 1.5px #144d51;
  transition: 0.3s;
}

.about {
  background-color: #f3c8b6;
  font-size: 1.5em;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  font-family: monospace;
  padding: 5%;
}
.summary {
  background-color: #f3c8b6;
  font-size: 1em;
  font-family: monospace;
  padding: 5%;
}

.projects li {
  border: #144d51 3px solid;
  font-size: 1.5em;
  border-radius: 8px;
  padding: 5%;
  background-color: #f3c8b6;
  box-shadow: -8px 5px 0px #144d51;
  width: fit-content;
  margin-bottom: 3%;
  transition: 0.3s;
}

.projects li::marker {
  content: "";
}

.projects li:hover {
  transform: translateX(-5px);
  box-shadow: 0px 0px 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

details:hover {
  cursor: pointer;
}

details:hover .activity {
  background-color: #f3c8b6;
  color: #144d51;
  -webkit-text-fill-color: #144d51;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  cursor: pointer;
  padding: 0.05em;
}

.tip {
  border: #144d51 solid 2px;
  background-color: #e8dec2;
  border-radius: 8px;
  padding: 0.3em;
  font-weight: 700;
}

footer {
  font-family: monospace;
  color: #144d51;
  font-size: large;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links-2 {
  max-width: 30px;
  border: #144d51 3px solid;
  border-radius: 8px;
  padding: 0.3em;
  background-color: #f3c8b6;
  box-shadow: -5px 3px 0px #144d51;
  width: fit-content;
  margin: 10%;
  transition: 0.3s;
}

.links-2:hover {
  transform: translateX(-3px);
  box-shadow: 0px 0px 0px;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    align-items: center;
    /* scale: 80%; */
  }

  .macintosh {
    scale: 70%;
  }

  p {
    max-width: 70vw;
  }
}
