html,
body {
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: #f9837d;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 95vh;
  padding: 0 10%;
  background-color: #f9837d;
  font-family: "Young Serif", serif;
  color: #144d51;
}

.my_name {
  font-size: 4em;
}

.work {
  font-size: 2.7em;
}

summary::marker {
  content: "";
}

.activity {
  color: #e8dec2;
  -webkit-text-fill-color: #e8dec2;
  -webkit-text-stroke: 1.5px #144d51;
  transition: 0.3s;
}

p {
  background-color: #f3c8b6;
  font-size: 1.5em;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  font-family: monospace;
  padding: 5%;
}

.projects li {
  border: #144d51 3px solid;
  font-size: 1.5em;
  border-radius: 8px;
  padding: 0.2em;
  background-color: #f3c8b6;
  box-shadow: -8px 5px 0px #144d51;
  width: fit-content;
}

.projects li::marker {
  content: "";
}

a {
  text-decoration: none;
  color: inherit;
}

details:hover {
  cursor: pointer;
}

details:hover .activity {
  background-color: #f3c8b6;
  color: #144d51;
  -webkit-text-fill-color: #144d51;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  cursor: pointer;
  padding: 0.05em;
}

.tip {
  border: #144d51 solid 2px;
  background-color: #e8dec2;
  border-radius: 8px;
  padding: 0.3em;
  font-weight: 700;
}

footer {
  font-family: monospace;
  color: #144d51;
  font-size: large;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links-2 {
  max-width: 30px;
  border: #144d51 3px solid;
  border-radius: 8px;
  padding: 0.3em;
  background-color: #f3c8b6;
  box-shadow: -5px 3px 0px #144d51;
  width: fit-content;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}
