body {
  background-color: #f9837d;
  display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

main {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  height: 100vh;
}

.primary {
  font-family: "Young Serif", serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  background-color: #f9837d;
  padding-top: 15vh;
}

@media (max-width: 600px) {
  .primary {
    flex-direction: column;
    max-height: none;
  }
}

.my_name {
  font-size: 2.5em;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
}

.macintosh {
  transform: scale(0.7);
  padding-right: none;
}

details,
summary {
  font-family: inherit;
  color: #144d51;
  font-size: 1.5em;
  max-width: 50vw;
  padding: 0.05em;
}

summary::marker {
  content: "";
}

.activity {
  color: #ffeee5;
  transition: 0.3s;
}

details:hover {
    cursor: pointer;
}

details:hover .activity {
  background-color: #f3c8b6;
  color: #144d51;
  padding: 0em 0.05em;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects li {
  border: #144d51 3px solid;
  border-radius: 8px;
  padding: 0.2em;
  background-color: #f3c8b6;
  box-shadow: -8px 5px 0px #144d51;
  width: fit-content;
}

a {
	text-decoration: none;
	color: inherit;
}

.projects li:hover {
  cursor: pointer;
}

.projects li::marker {
  content: "";
}

p {
  background-color: #f3c8b6;
  max-width: 20vw;
  font-size: 1.2rem;
  padding: 0.2em 1em;
  border: #144d51 3px solid;
  border-radius: 8px;
  box-shadow: -8px 5px 0px #144d51;
  font-family: monospace;
  line-height: 140%;
}
